<!DOCTYPE html>
<html>
<head>
  <title>Home</title>
  <link rel="stylesheet" href="/style.css">
</head>
<body>

<h1>Skill Manager</h1>

<a href="/addStudent">Add Student</a>
<br><br>

<form action="/skillStudent" method="get">
  <label>Search by skill:</label>
  <input type="text" name="skill" required>
  <button>Search</button>
</form>

<br>
<a href="/all">Show All Students</a>
<br>
<a href="/displayAll">Show Day Scholars</a>

</body>
</html>
